@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kode-mono), monospace; /* CSS 변수 사용 */
  font-optical-sizing: auto;
  font-style: normal;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  html {
    font-family: var(--font-kode-mono), monospace;
  }
}

/* 다크모드 스타일 개선 */
.dark {
    color-scheme: dark;
}

.dark::-webkit-scrollbar {
    width: 10px;
}

.dark::-webkit-scrollbar-track {
    background: #1f1f1f;
}

.dark::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 5px;
}

.dark::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}